@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 
 modalAddPostModal.tsx
*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  cursor: default;
}

.modal-main {
  position: absolute;
  background: white;
  width: 60%;
  min-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  cursor: default;
}

.mainNavChildsElements {
  height: 50px;
}

.mainNavChildsProfile {
  height: 70px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollBar::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollBar {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

.minWidth-600 {
  min-width: 600px;
}

.minWidth-200 {
  min-width: 200px;
}

.minWidth-150 {
  min-width: 150px;
}

.maxWidth-350 {
  max-width: 350px;
}

.maxHeight-300 {
  max-height: 300px;
}
